<link rel="stylesheet" href="/css/alerts.css" />
<% if (locals.alerts) { %>
<div class="alerts-container">
  <% alerts.forEach((alert, index)=>{ %>
  <div class="alert-container" style="animation-delay: <%= index * 150 %>ms">
    <h3 class="alert" data-alert-type="<%= alert.type %>">
      <%= alert.content %>
    </h3>
  </div>
  <% }) %>
</div>

<script>
  const alertContainer = document.querySelector('.alerts-container')
  const alertContainers = Array.from(document.querySelectorAll('.alerts-container .alert-container'))

  setTimeout(() => {
    alertContainers.forEach((element, index) => {
      setTimeout(() => {
        element.style.animation = 'alertPoof 600ms ease forwards';
        setTimeout(() => {
          element.parentElement.removeChild(element)

          if (alertContainer.children.length == 0) {
            alertContainer.parentElement.removeChild(alertContainer)
          }
        }, 600)
      }, index * 600)
    });
  }, 4000);
</script>
<% } %>