<header>
  <link rel="stylesheet" href="/css/header.css" />
  <a href="/">
    <h1>Home</h1>
  </a>
  <div>
    <% if (locals.username) { %>
    Welcome<a href="/profile"><%= username %></a>
    <% } else { %>
    <a href="/account/log-in">Log in</a>
    <a href="/account/sign-up">Sign up</a>
    <% }%>
  </div>
</header>