<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/account.css" />
  <title>Account System</title>
</head>

<body>
  <%- include('./partials/alerts.ejs') %>
  <%- include('./partials/header.ejs') %>

  <main>

  </main>
</body>

</html>