<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/js/script.js" defer></script>
  <script src="/js/account.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/account.css" />
  <title>Account System: account</title>
</head>

<body>
  <%- include('./partials/alerts.ejs') %>
  <%- include('./partials/header.ejs') %>

  <main>
    <h1>Account Settings</h1>
    <form class="account-form">
      <h2 class="account-form-header">Account</h2>

      <div class="account-form-input-container">
        <label class="account-form-username-label" id="account-form-username-label" for="account-username">Username</label>
        <input inert class="account-form-username" id="account-form-username" name="account-username" type="text" value="<%=username%>" />
        <button type="button" class="account-form-username-edit" id="account-form-username-edit">Edit</button>
      </div>

      <div class="account-form-input-container">
        <label class="account-form-password-label" id="account-form-password-label" for="account-password">Password</label>
        <input inert class="account-form-password" id="account-form-password" name="account-password" placeholder="" type="password" value="********" />
        <button type="button" class="account-form-password-edit" id="account-form-password-edit">Edit</button>
      </div>
    </form>

    <div class="account-other-settings">
      <form action="/account/log-out" method="POST">
        <button class="log-out-button" type="submit">Log Out</button>
      </form>
      <form action="/account/delete-account" method="POST">
        <button class="delete-button" id="delete-button" type="submit">Delete Account</button>
      </form>
    </div>
  </main>

  <div class="modal-container hide" id="modal-container">
    <div class="backdrop" id="backdrop"></div>
    <form action="/account/update-username" method="POST" class="modal hide" id="username-edit-modal">
      <h3>Edit Username</h3>
      <div class="input-container" id="username-edit-field-container">
        <label class="field-label" for="username-edit-field">Username</label>
        <input class="field" id="username-edit-field" name="username-edit-field" value="<%= username %>" type="text" autofocus required minlength="3" maxlength="25" title="Username must be between 3 and 25 characters long" pattern="^[A-Za-z\d_\-\.!#$%&]{3,25}$">
      </div>
      <div class="input-container" id="username-password-confirm-field-container">
        <label class="field-label" for="username-password-confirm-field">Current Password</label>
        <input class="field" id="username-password-confirm-field" name="username-password-confirm-field" type="password" required>
      </div>
      <div class="buttons">
        <button type="submit" class="username-change-confirm" id="username-change-confirm">Confirm</button>
        <button type="reset" class="username-change-cancel" id="username-change-cancel">Cancel</button>
      </div>
    </form>
    <form action="/account/update-password" method="POST" class="modal hide" id="password-edit-modal">
      <h3>Change Password</h3>
      <div class="input-container">
        <label class="field-label" for="password-current-field">Current password</label>
        <input class="field" id="password-current-field" name="password-current-field" type="password" autofocus required>
      </div>
      <div class="input-container">
        <label class="field-label" for="password-new-field">New Password</label>
        <input class="field" id="password-new-field" name="password-new-field" type="password" required title="Password must have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character" minlength="8" pattern="^(?! )(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[ !\x22#$%&'()*+,\-./:;&gt=&lt?@[\\\]^_`{|}~])[A-Za-z\d !\x22#$%&'()*+,\-./:;&gt=&lt=>?@[\\\]^_`{|}~]{8,}(?&lt! )$">
      </div>
      <div class="input-container">
        <label class="field-label" for="password-confirm-field">Confirm Password</label>
        <input class="field" id="password-confirm-field" name="password-confirm-field" type="password" required title="Password must have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character" minlength="8" pattern="^(?! )(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[ !\x22#$%&'()*+,\-./:;&gt=&lt?@[\\\]^_`{|}~])[A-Za-z\d !\x22#$%&'()*+,\-./:;&gt=&lt=>?@[\\\]^_`{|}~]{8,}(?&lt! )$">
      </div>
      <div class="buttons">
        <button type="submit" class="password-change-confirm" id="password-change-confirm">Confirm</button>
        <button type="reset" class="password-change-cancel" id="password-change-cancel">Cancel</button>
      </div>
    </form>
  </div>
</body>

</html>