<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Account System: <%= errorMessage %></title>
</head>

<body id="error-page">
  <h1><%= errorCode %></h1>
  <h2><%= errorMessage %></h2>
</body>

</html>