<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <title>Account System</title>
</head>

<body>
  <header>
    <h1>Home</h1>
    <div>
      <% if (locals.username) { %>
      Welcome <%= username %>
      <% } else { %>
      <a href="/log-in">Log in</a>
      <a href="/sign-up">Sign up</a>
      <% }%>
    </div>
  </header>
</body>

</html>