<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/profile.css" />
  <title>Account System</title>
</head>

<body>
  <%- include('./partials/alerts.ejs') %>
  <%- include('./partials/header.ejs') %>

  <main>
    <div class="profile-container">
      <div class="banner"></div>
      <img class="profile-picture" src="/media/pfp_placeholder_360x360.png" alt="profile picture placeholder">
      <div class="content">
        <h1>Display Name</h1>
        <h3>Username</h3>
        <h3>Member since: xx/xx/xxxx</h3>
        <div class="about-me">
          <h2>About Me</h2>
          <textarea name="" id=""></textarea>
        </div>
        <button>Edit</button>
      </div>
    </div>
  </main>
</body>

</html>