<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <title>Account System</title>
</head>

<body>
  <%- include('./partials/alerts.ejs') %>
  <form action="/account/sign-up" method="post">
    <h2>Sign up</h2>

    <label id="sign-up-username-label" for="sign-up-username">Username <span style="color: red;">*</span></label>
    <input id="sign-up-username" name="sign-up-username" placeholder="" type="text" required />

    <label id="sign-up-password-label" for="sign-up-password">Password <span style="color: red;">*</span></label>
    <input id="sign-up-password" name="sign-up-password" placeholder="" type="password" required />

    <p>
      Don't have an account? <strong> <a href="/account/log-in">Log in</a></strong>
    </p>

    <button type="submit">Sign up</button>
  </form>
</body>

</html>