main {
    margin-top: 1rem;
    height: calc(100vh - 6.5rem);
    display: grid;
    justify-items: center;
    align-content: start;
    gap: 2rem;
}

.account-form {
    position: relative;
    display: grid;
    padding: 3rem 3rem;
    border-radius: 1rem;
    border: 2pt solid black;
    gap: 2rem;
}

.account-form-header {
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-65%);
    margin: 0;
    padding: 0 0.5rem;
    background-color: white;
}

.account-form-input-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4rem;
    gap: 1rem;
}

.account-form-username-label,
.account-form-password-label {
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-65%);
    margin: 0;
    padding: 0 0.5rem;
    font-size: 14pt;
    font-weight: 650;
    background-color: white;
}

.account-form-username,
.account-form-password {
    width: calc(100% - 1rem - 4pt);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2pt solid black;
}

.account-form-username-edit,
.account-form-password-edit,
.log-out-button,
.delete-button {
    cursor: pointer;

    font-size: 12pt;
    font-weight: 650;

    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2pt solid black;
}

.delete-button {
    border-color: #e32646;
}

.account-other-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media only screen and (max-width:430px) {
    main {
        align-content: space-around;
    }

    .account-form {
        border: none;
    }

    .account-form-header {
        top: 0;
        left: 50%;
        transform: translate(-50%, -65%);
    }
}

/* .modal-container {} */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40rem;
    height: 40rem;

    padding: 1rem;
    border-radius: 1rem;
    background-color: white;

    display: grid;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;

    box-sizing: border-box;
    border: 2pt solid black;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#username-edit-modal {
    height: 25rem;
}

#password-edit-modal {
    height: 25rem;
    gap: 0;
}

#password-edit-modal>.input-container {
    margin: 0.5rem 0;
}

.input-container:has(>#password-current-field) {
    align-self: end;
}

.input-container:has(>#password-confirm-field) {
    align-self: start;
}

.modal>h3 {
    text-align: center;
    font-size: 16pt;
    align-self: start;
    margin: 0;
}

.input-container {
    position: relative;
    height: fit-content;
    margin: 1rem 0;
}

#username-edit-field-container {
    align-self: end;
}

#username-password-confirm-field-container {
    align-self: start;
}

#delete-account-modal {
    width: 20rem;
    height: 12rem;
    display: grid;
}

#delete-confirm {
    background-color: #e32646;
    color: white;
}

.field-label {
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-65%);
    margin: 0;
    padding: 0 0.5rem;
    font-size: 14pt;
    font-weight: 650;
    background-color: white;
}

.field {
    width: calc(100% - 1rem - 4pt);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2pt solid black;
}

.buttons {
    align-self: end;
}

.buttons>button {
    cursor: pointer;
    font-size: 12pt;
    font-weight: 650;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2pt solid black;
}

@media only screen and (max-width: 690px) {
    .modal {
        width: 100svw;
        height: 100svh;

        border-radius: 0;
        border: none;
    }

    #username-edit-modal,
    #password-edit-modal {
        padding: 2rem;
        gap: 3rem;

        width: 100svw;
        height: 100svh;
    }

    #password-edit-modal {
        gap: 1.5rem;
    }

    #username-edit-modal>h3,
    #password-edit-modal>h3 {
        font-size: 20pt;
    }

    #delete-account-modal {
        border: black 2pt solid;
        border-radius: 1rem;
    }
}