form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3rem 5rem;
    display: grid;
    width: 20rem;
    justify-items: center;

    border-radius: 1rem;
    border: 2pt solid black;
}

form h2 {
    margin-bottom: 3rem;
}

form label {
    justify-self: left;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 1rem - 4pt);
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    margin-bottom: 1.5rem;
    color: #0088cc;

    max-height: 1rem;
}

form input[type="text"]:not(:placeholder-shown):invalid,
form input[type="password"]:not(:placeholder-shown):invalid {
    outline-offset: 2px;
    outline: #e32646 3px solid;
}

form input[type="text"]:not(:placeholder-shown):valid,
form input[type="password"]:not(:placeholder-shown):valid {
    outline-offset: 2px;
    outline: #26e368 3px solid;
}

form p {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

form div {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.8rem;
    margin-bottom: 1rem;
}

form div label {
    margin-bottom: 0;
}


form input[type="checkbox"] {
    height: 1.8rem;
    accent-color: #0088cc;
    margin: 0;
}

form button {
    max-height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    cursor: pointer;
    transition: background-color 100ms ease, color 100ms ease;
}

form button:hover {
    background-color: hsl(200, 75%, 65%);
    color: white;
}

form input:focus-visible,
form button:focus-visible {
    outline-offset: 2px;
    outline: hsla(200, 75%, 65%, 75%) solid 2pt;
}

@media only screen and (max-width:545px) {
    form {
        height: 80%;
        width: calc(100% - 4rem);
        padding: 2rem;
        border: none;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25rem;
    height: 15rem;
    display: grid;

    padding: 1rem;
    border-radius: 1rem;
    background-color: white;

    display: grid;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;

    box-sizing: border-box;
    border: 2pt solid black;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal>h3 {
    text-align: center;
    font-size: 16pt;
    align-self: center;
    justify-self: center;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1rem;
    align-self: end;
}

.buttons>button {
    cursor: pointer;
    font-size: 12pt;
    font-weight: 650;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2pt solid black;
}

@media only screen and (max-width: 430px) {
    .modal {
        width: 100svw;
        height: 100svh;

        border-radius: 0;
        border: none;
    }

    .modal>h3 {
        align-self: end;
    }
}