form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3rem 5rem;
    display: grid;
    width: 20rem;
    justify-items: center;

    border-radius: 1rem;
    border: 2pt solid black;
}

form h2 {
    margin-bottom: 3rem;
}

form label {
    justify-self: left;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 1rem - 4pt);
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    margin-bottom: 1.5rem;
    color: #0088cc;

    max-height: 1rem;
}

form p {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

form div {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.8rem;
    margin-bottom: 1rem;
}

form div label {
    margin-bottom: 0;
}


form input[type="checkbox"] {
    height: 1.8rem;
    accent-color: #0088cc;
    margin: 0;
}

form button {
    max-height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    cursor: pointer;
    transition: background-color 100ms ease, color 100ms ease;
}

form button:hover {
    background-color: hsl(200, 75%, 65%);
    color: white;
}

form input:focus-visible,
form button:focus-visible {
    outline-offset: 2px;
    outline: hsla(200, 75%, 65%, 75%) solid 3px;
}

@media only screen and (max-width:545px) {
    form {
        height: 80%;
        width: calc(100% - 4rem);
        padding: 2rem;
        border: none;
    }
}