header {
    background-color: rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    padding: 0 1.5rem;
    height: 5.5rem;
    border-bottom: 2pt black solid;
    box-sizing: border-box;
}

header a {
    width: fit-content;
}

header>div {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

header .header-profile-picture {
    width: 3.5rem;
    height: 3.5rem;

    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    border: 2pt solid black;
}