input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 16px;
}

main {
    height: calc(100vh - 5.5rem);
    display: grid;
    place-items: center;
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 45rem;
    /* min-height: 40rem; */

    border-radius: 1rem;
    border: 2pt solid black;
}

.banner {
    height: 8rem;
    border-bottom: 2pt solid black;
    border-radius: calc(1rem - 2pt) calc(1rem - 2pt) 0 0;
    background: linear-gradient(50deg, rgba(38, 173, 227, 1) 0%, rgba(145, 38, 227, 1) 100%);
}

.profile-picture {
    position: absolute;
    top: 8rem;
    right: 1.5rem;
    transform: translateY(-50%);

    width: 12rem;
    height: 12rem;

    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    border: 2pt solid black;
}

.content {
    box-sizing: border-box;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.content>h1,
.content>h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.content>h3 {
    font-weight: 500;
}

.edit-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;

    box-sizing: border-box;
    padding: 1rem 2rem;
}

.profile-edit-display-name-container {
    margin: 0.5rem 0;
    position: relative;
    height: calc(3rem + 4pt);
}

.profile-edit-display-name-label {
    position: absolute;
    top: 0;
    left: 1.5rem;
    transform: translateY(-65%);
    margin: 0;
    padding: 0 0.5rem;
    font-size: 16pt;
    font-weight: bold;
    background-color: white;
}

.profile-edit-display-name {
    border: 2pt solid black;
    width: 15rem;
    padding: 1rem;
    font-weight: 500;
    border-radius: 1rem;
}

.profile-edit-show-member-since-container {
    height: 3rem;
    display: flex;
    align-items: center;
}

.profile-edit-show-member-since-label {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 16pt;
    font-weight: bold;
    background-color: white;
}

.profile-edit-show-member-since {
    height: 1.5rem;
    width: 1.5rem;
}

.profile-edit-about-me,
.about-me-container {
    position: relative;

    width: 100%;
    height: 8rem;
    margin: 2.2rem 0;

    border-radius: 1rem;
    border: 2pt solid black;
}

.profile-edit-about-me {
    margin-top: 1.6rem;
}

.profile-edit-about-me>h2,
.about-me-container>h2 {
    position: absolute;
    top: 0;
    left: 1.5rem;
    transform: translateY(-65%);
    margin: 0;
    padding: 0 0.5rem;
    font-size: 16pt;
    background-color: white;
}

.about-me {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;

    font-weight: 500;
    white-space: pre-wrap;
    overflow-y: auto;

    border-radius: calc(1rem - 2pt);
}

.profile-edit-about-me>textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-weight: 500;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    outline: none;
    border: none;

    border-radius: calc(1rem - 2pt);
}

.edit-profile-picture {
    cursor: pointer;
    position: absolute;
    top: 8rem;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.profile-edit-pfp-icon {
    pointer-events: none;
    display: grid;
    place-items: center;

    opacity: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    border-radius: 50%;
}

.edit-hamburger-menu-container {
    width: 100%;
    height: 100%;
}

.edit-profile-picture:hover:not(:has(.hamburger-menu-container:hover)) .profile-edit-pfp-icon {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

.hamburger-menu-container {
    cursor: default;
}

.hamburger-menu-container>.pfp-hamburger-menu {
    z-index: 1;
    top: 10rem;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%, 0);
}

.hamburger-menu-container>.pfp-hamburger-menu.closed {
    transform: translate(-50%, 0) scale(0.8);
}

.profile-edit-pfp {
    cursor: pointer;
    width: 0;
    opacity: 0;
}

.pfp-hamburger-menu>label {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: aliceblue;
    text-decoration: none;
    font-weight: 650;
    font-size: 13pt;

    gap: 0.75rem;
}

.content button {
    margin-top: auto;
    margin-bottom: 0;
    align-self: center;

    max-height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    cursor: pointer;
    transition: background-color 100ms ease, color 100ms ease;
}

.buttons-edit-container {
    margin-top: auto;
    margin-bottom: 0;
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.buttons-edit-container>button {
    max-height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    cursor: pointer;
}

@media only screen and (max-width:815px) {
    .profile-container {
        height: calc(100vh - 5.5rem);
        width: 100vw;
        border: none;
    }

    .banner {
        border-radius: 0;
    }
}

@media only screen and (max-width:550px) {
    .profile-picture {
        left: 50%;
        transform: translate(-50%, -50%);

        width: 9rem;
        height: 9rem;
    }

    .edit-profile-picture {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 9rem;
        height: 9rem;
    }

    .profile-edit-pfp-label:has(+ .profile-edit-pfp:hover) {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 9rem;
        height: 9rem;
    }

    .edit-menu {
        margin-top: 6rem;
    }

    .profile-edit-display-name-container {
        display: flex;
        justify-content: center;
    }

    .profile-edit-display-name-label {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -65%);
        text-wrap: nowrap;
    }

    .profile-edit-show-member-since-container {
        justify-content: center;
    }

    .content {
        padding-top: 5rem;
    }

    .content h1 {
        text-align: center;
    }

    .content h3 {
        text-align: center;
    }
}

.modal {
    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 40rem;
    height: 40rem;

    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;

    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;

    box-sizing: border-box;
    border: 2pt solid black;
}

.crop-editor {
    position: relative;
    box-sizing: border-box;
    border-radius: 1rem;

    display: grid;
    grid-template-rows: 1fr 2rem;
}

.cr-boundary {
    box-sizing: border-box;
    border: 2pt solid black;
    border-radius: 1rem;
    overflow: hidden;
}

.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.crop-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-height: 2.5rem;
}

.crop-cancel,
.crop-confirm {
    max-height: 2.5rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2pt solid black;
    cursor: pointer;
    transition: background-color 100ms ease, color 100ms ease;
}

.cr-viewport {
    border-radius: 50% !important;
}

@media only screen and (max-width: 690px) {
    .modal {
        width: 100svw;
        height: 100svh;

        border-radius: 0;
        border: none;
    }
}